body {
  width: 300px;
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #F8E5D8;
  color: #333;
}

.container {
  text-align: center;
}

.box {
  background-color: #E8C79E;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.box p {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.box span {
  display: block;
  font-size: 36px;
  margin-top: 10px;
  color: #333;
}

.footer {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #333;
  text-decoration: underline;
}

#info-page {
  background-color: white;
  color: #333;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.hidden {
  display: none;
}

#back-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #E8C79E;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#back-button:hover {
  background-color: #F8E5D8;
}
